[submodule "cs6210"]
	path = cs6210
	url = https://github.com/nicholasadamou/cs6210
[submodule "cs6035"]
	path = cs6035
	url = https://github.com/nicholasadamou/cs6035
[submodule "cs6250"]
	path = cs6250
	url = https://github.com/nicholasadamou/cs6250
[submodule "cs6200"]
	path = cs6200
	url = https://github.com/nicholasadamou/cs6200
[submodule "cs6340"]
	path = cs6340
	url = https://github.com/nicholasadamou/cs6340
[submodule "cs6300"]
	path = cs6300
	url = https://github.com/nicholasadamou/cs6300
[submodule "cs6310"]
	path = cs6310
	url = https://github.com/nicholasadamou/cs6310
[submodule "cs6262"]
	path = cs6262
	url = https://github.com/nicholasadamou/cs6262
[submodule "cs6747"]
	path = cs6747
	url = https://github.com/nicholasadamou/cs6747
[submodule "cs6515"]
	path = cs6515
	url = https://github.com/nicholasadamou/cs6515
